{% extends "base.html" %}

{% block extrahead %}
<meta property="og:site_name" content="{{ config.site_name }}" />
<meta property="og:title" content="{{ config.site_name }}" />
<meta property="og:locale" content="en" />
<meta property="og:description" content="{{ config.site_description }}" />
<meta property="og:url" content="https://docs.enclave.io/" />

<meta property="twitter:title" content="{{ config.site_name }}" />

<meta property="og:type" content="website" />
<meta property="og:image" itemprop="image" content="https://enclave.io/uploads/feature-1200x630-enclave.png" />
<meta property="og:image:secure_url" itemprop="image" content="https://enclave.io/uploads/feature-1200x630-enclave.png" />
{% endblock %}
